###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

settings ={}
    Xpresion = "Xpresion::"
    RegExp = "RegExp::"
@

plugins =[{}]
    "minify" = "!plg:minify"
    "doc" = "!plg:doc"
@

tasks =[{}]

    build =[{}]

        src =[]
            ### Geometrize.js ###
            ./src/header.js
            ./src/Changeable.js
            ./src/Value.js
            ./src/Matrix.js
            ./src/Color.js
            ./src/Style.js
            ./src/Primitive.js
            ./src/Point.js
            ./src/Curve.js
            ./src/Line.js
            ./src/Polyline.js
            ./src/Arc.js
            ./src/Bezier2.js
            ./src/Bezier3.js
            ./src/Polygon.js
            ./src/Circle.js
            ./src/Ellipse.js
            ./src/Shape.js
            ./src/Tween.js
            ./src/Plane.js
            ./src/utils.js
            ./src/footer.js
        @

        # extract header from this file
        header = ./src/header.js

        replace =[{}]
            "@@VERSION@@" = "0.5.0"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
        @

        # Extract documentation from the source (map)
        doc ={}

            "startdoc" = "/**[DOC_MARKDOWN]"
            "enddoc" = "[/DOC_MARKDOWN]**/"
            "trim" = RegExp::^\\s*\\*[ ]?
            "output" = "./manual.md"

        @

        out = ./build/Geometrize.js
    @

    #minify =[{}]
    #
    #    src =[]
    #        ./build/Geometrize.js
    #    @
    #
    #    # Minify the Package (map of lists)
    #    minify ={}
    #        # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
    #        uglifyjs =[]
    #            -m -c
    #        @
    #
    #        # Options for Java Closure Compiler (if used)
    #        closure =[]
    #            "--language_in=ECMASCRIPT5_STRICT"
    #        @
    #
    #        # Options for Java YUI Compressor Compiler (if used)
    #        yui =[]
    #            --preserve-semi
    #        @
    #    @
    #
    #    out = ./build/Geometrize.min.js
    #@
@
