###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

settings ={}
    Xpresion = "Xpresion::"
    RegExp = "RegExp::"
@

plugins =[{}]
    "minify" = "!plg:minify"
    "doc" = "!plg:doc"
@

tasks =[{}]

    build =[{}]

        src =[]
            ### Geometrize.js ###
            ./src/header.js
            ./src/Changeable.js
            ./src/Style.js
            ./src/Value.js
            #
            ## 2D Classes ##
            ./src/Matrix2D.js
            ./src/Object2D.js
            ./src/Point2D.js
            ./src/Topos2D.js
            ./src/Curve2D.js
            ./src/Line.js
            ./src/Polyline.js
            ./src/Arc.js
            ./src/QBezier.js
            ./src/CBezier.js
            ./src/Polygon.js
            ./src/Circle.js
            ./src/Ellipse.js
            ./src/Shape2D.js
            ./src/Scene2D.js
            ## 3D Classes (in progress) ##
            #./src/Matrix3D.js
            #./src/Object3D.js
            #./src/Point3D.js
            #./src/Topos3D.js
            #./src/Scene3D.js
            #
            ./src/utils.js
            ./src/footer.js
        @

        # extract header from this file
        header = ./src/header.js

        replace =[{}]
            "@@VERSION@@" = "0.9.10"
            "@@DATE@@" = Xpresion::date("Y-m-d H:i:s")
        @

        # extract documentation
        doc ={}
            "startdoc" = "/**[DOC_MD]"
            "enddoc" = "[/DOC_MD]**/"
            "trim" = RegExp::^\s*\*[ ]?
            "output" = "./manual.md"
        @

        out = ./build/Geometrize.js
    @

    minify =[{}]

        src =[]
            ./build/Geometrize.js
        @

        # Minify the Package (map of lists)
        minify ={}
            # Options for Node UglifyJS Compiler (if used, default), (mangle and compress)
            uglifyjs =[]
                -m -c
            @

            # Options for Java Closure Compiler (if used)
            closure =[]
                "--language_in=ECMASCRIPT5_STRICT"
            @

            # Options for Java YUI Compressor Compiler (if used)
            yui =[]
                --preserve-semi
            @
        @

        out = ./build/Geometrize.min.js
    @
@
